.w-45 {
  width: 45%;
}

.banner-img {
  border-radius: 5px;
}


/* Estilo para los botones de control del carrusel */
.carousel-control-prev,
.carousel-control-next {
  
  margin-top: 250px;
  
}

.carousel-control-prev{
  margin-left:775px ;
}

