.prod-card{
    width: 15rem !important;
    height: 20rem!important;
    display: flex ;
    flex-direction: column ;
    padding: 0 2rem 2rem 2rem;
    align-items: center;
    justify-content: center;
}
  
.btn.btn-light{
    border-radius: 50px ;
    border: 1px solid #36802d ;
}
.product-content{
    padding:10px ;
    margin: 0 auto ;
    text-align: center ;
}

.opciones{
    display:flex ;
    flex-direction: row ;
    gap: 10px;
}
.opciones input{
    width: 30% ;
}
.addToCart-btn{
    width: 60% ;
}
.prod-info{
    display: flex ;
    flex-direction: column ;
}

.product-name{
    font-weight: bold;
}

.quantity-button{
    border: none;
    background: none;
    color: var(--main-color);
    font-size: 15pt;
}
/* Específico para ProductCard */
.product-card .quantity-input-group {
    display: flex;
    width: 50%;
    height: 50px;
    margin: auto;
    border-radius: 5px;
    justify-content: space-between;
    padding: 0px 10px;
    border: 1px solid var(--border-color);
  }
  
  .product-card .quantity-input {
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
    border: none;
    width: 30px;
  }
  
  .product-card .quantity-button {
    border: none;
    background: none;
    color: var(--main-color);
    font-size: 15pt;
  }
  
  /* Remover los botones de incremento/decremento en inputs de tipo numérico */
  .product-card input[type="number"]::-webkit-outer-spin-button,
  .product-card input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  