.prod-card{
    width: 18% !important;
    display: flex ;
    flex-direction: column ;
    padding-bottom: 2rem;
}

.btn.btn-light{
    border-radius: 50px ;
    border: 1px solid #36802d ;
}
.product-content{
    padding:10px ;
    margin: 0 auto ;
    text-align: center ;
}

.opciones{
    display:flex ;
    flex-direction: row ;
    gap: 5px;
}
.opciones input{
    width: 30% ;
}
.addToCart-btn{
    width: 60% ;
}
.prod-info{
    display: flex ;
    flex-direction: column ;
}

.product-name{
    font-weight: bold;
}