.toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .5em;
  padding: .125em;
  background-image: linear-gradient(to bottom, #d5d5d5, #e8e8e8);
  box-shadow: 0 1px 1px rgb(255 255 255 / .6);
}

.small-toggle {
  width: 2em;
  height: 1em;
}

.toggle-checkbox {
  appearance: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.toggle-container {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: .375em;
  width: 100%;
  height: 100%;
  background-color: #eb0707;
  transition: background-color .4s linear;
}

.toggle-checkbox:checked + .toggle-container {
  background-color: #1ddf0b;
}

.toggle-button {
  position: absolute;
  left: .0625em;
  width: 0.875em;
  height: 0.875em;
  background-color: #e8e8e8;
  transition: left .4s;
}

.toggle-checkbox:checked + .toggle-container > .toggle-button {
  left: 1.125em;
}

.toggle-button-circles-container {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: .125em;
}

.toggle-button-circle {
  border-radius: 50%;
  width: .125em;
  height: .125em;
  background-color: #c4c4c4;
}
